.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(187, 236, 234);
  color: rgb(4, 86, 153);
  grid-column: 1 / span 2;
  padding: 10px 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(134, 241, 255);
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
  text-align: center;
}

#popcorn {
  height: 200px;
  width: 200px;
}

nav,
article {
  height: 100%;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: rgb(34, 221, 128);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article {
  background-color: rgb(131, 232, 250);
}

article .date {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

article .body {
  white-space: break-spaces;
  text-align: center;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}
